body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans'
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: 'Josefin Sans'
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 700;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #FFAFAF;
  color: #FBFFE2;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 2.5rem;
  font-weight: 400;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Josefin Sans'
  font-weight: light 300;
}

/* Download Buttons  */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */
.title-image {
  width: 500px;
  height: auto;
  right: 30%;
  padding-top: 35px;
}

/* Features Section */
.feature-title {
  font-weight: 700;
}

.feature-box {
  padding: 5%;
}

.font-icon {
  color: #FFAFAF;
  margin-bottom: 1rem;
}

.font-icon:hover {
  color: #FF9999;
}

/* Testimonial Section  */
#testimonials {
  background-color: #FF9999;
}

.testimonial-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 20%;
  margin: 20px;
}

/* Press Section */
.section-heading {
  margin-top: 90px;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 1.5;
  color: #FF9999;
  padding-bottom: 3%;
  padding-top: 4%;
}

#press {
  background-color: white;
  padding-bottom: 3%;
}

.press-logo {
  width: 55%;
  margin: 20px 20px 50px;
}

#press-table {
  align-content: center;
  margin: auto;
}


/* CTA Doggo Font */
.cta-doggo {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 2.2rem;
  font-weight: 400;
}

/* Footer Section  */
.social-icon {
  margin: 20px 10px;
}

@media (max-width: 768px) {
  #title {
    text-align: center;
  }

  .title-image {
    width: 60%;
    height: auto;
    right: 30%;
  }

  .details-image {
    width: 60%;
    height: auto;
    right: 30%;
  }
}
